.not-found-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 80px); /* Restando la altura estimada del navbar */
  width: 100%;
  box-sizing: border-box;
  padding: 2rem;
}
