@if (movieData$ | async; as data) {
  <div class="details-container">
    <!-- Imagen de fondo (Backdrop) -->
    <div class="backdrop-wrapper">
      <img [src]="getBackdropUrl(data.details.backdrop_path)" class="backdrop-image">
      <div class="backdrop-overlay"></div>
    </div>

    <div class="content-wrapper">
      <h1 class="movie-title">{{ data.details.title }}</h1>
      
      <!-- Mostrar Géneros -->
      <div class="genres">
        @for (genre of data.details.genres; track genre.id) {
          <span class="genre-tag">{{ genre.name }}</span>
        }
      </div>

      <p class="overview">{{ data.details.overview }}</p>
    </div>

    <!-- Mostrar Elenco usando data.credits (Ahora fuera del content-wrapper para ser full width) -->
    <section class="movie-cast">
      <h2 class="section-subtitle">Elenco Principal</h2>
      <div class="cast-track">
        <!-- El pipe slice:0:15 recorta la lista a los primeros 15 actores -->
        @for (actor of data.credits.cast | slice:0:15; track actor.id) {
          <app-cast-card [actor]="actor"></app-cast-card>
        }
      </div>
    </section>

    <div class="content-wrapper">
      <button class="back-button" onclick="history.back()">← Volver</button>
    </div>
  </div>
} @else {
  <div class="loading-state">Cargando detalles increíbles...</div>
}
