.home-sections {
    margin-top: -100px;
    position: relative;
    z-index: 10;
    padding-bottom: 5rem;
    background: linear-gradient(to bottom, transparent, #141414 150px);
}

.loading-hero {
    height: 85vh;
    background-color: #141414;
}
