<header class="header">
  <div class="logo">
    <h1>MovieNexus</h1>
  </div>
  <nav class="nav">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><span class="nav-label">Inicio</span><span class="nav-bar"></span></a></li>
      <li><a routerLink="/peliculas" routerLinkActive="active"><span class="nav-label">Peliculas</span><span class="nav-bar"></span></a></li>
      <li><a routerLink="/buscar" routerLinkActive="active"><span class="nav-label">Buscar</span><span class="nav-bar"></span></a></li>
      <li><a routerLink="/favoritos" routerLinkActive="active"><span class="nav-label">Favoritos</span><span class="nav-bar"></span></a></li>
    </ul>
  </nav>
</header>
